{% capture temptags %}
  {% for tag in site.tags %}
    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}
  {% endfor %}
{% endcapture %}
{% assign sortedtemptags = temptags | split:' ' | sort | reverse %}
{% for temptag in sortedtemptags %}
  {% assign tagitems = temptag | split: '#' %}
  {% capture tag_name %}{{ tagitems[1] }}{% endcapture %}
  {% if page.tag == tag_name %}
    <a class="tag selected" href="/blog/tags/{{ tag_name }}">{{ site.data.tag-format[tag_name] }}</a>
  {% else %}
    <a class="tag" href="/blog/tags/{{ tag_name }}">{{ site.data.tag-format[tag_name] }}</a>
  {% endif %}
{% endfor %}
