.post-header {
    margin-bottom: $vertical-spacing-unit;
}
.post-list {
    margin: 0;
    margin-top: $space-2;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-2;
        padding-top: $space-2;
    }
}
.post-title {
    font-size: 14pt;
    color: black;
    font-family: Georgia;
}
.post-content {
    h2 {
        font-size: 42px;
        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }
    h3 {
        font-size: 30px;
        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }
}
.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    font-family: $font-family;
    margin-bottom: 0.5em;
    display: inline-block;
    margin-right: 5px;
}
.post-link {
    display: block;
    font-size: 42px;
}
.post-tags {
    display: inline-block;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }