.resume-header {
    font-family: $resume-font-family;
    color: black;
    margin-bottom: $space-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-title {
    text-align: center;
    margin: 5px 0;
    font-family: $resume-font-family;
    font-size: 20pt;
    font-weight: bold;
    color: black;
}

.resume-description {
    font-family: $resume-font-family;
    text-align: center;
    margin: 0;
    
    > p {
        margin: 0;
        font-weight: normal;
        font-size: 10pt;

        > span {
            margin: 0 10px;
        }
    }
}

.resume-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
}

.resume-content {
    margin-right: auto;
    margin-left: auto;
    width: 700px;

    .resume-item-title {
        margin: 0.1em 0;
    }

    h3, h4 {
        color: black;
        margin: 0;
        font-family: $resume-font-family;
        span { font-weight: normal; }
        a { color: black; }
    }

    h3 { // Title
        color: black;
        margin-top: $space-2;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 13pt;
        border-bottom: solid 2px black;
    }

    h4 {
        font-weight: normal;
        font-size: $resume-font-size;
        line-height: 1.5;
    }

    p {
        margin-bottom: $space-1;
        font-size: $resume-font-size;
    }

    ul {
        margin-bottom: $space-2;
        font-size: $resume-font-size;
        color: black;
    }
}

.resume-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}

.resume-link {
    display: block;
    font-size: 42px;
}
