.resume-header {
    font-family: $resume-font-family;
    color: black;
    p {
        margin-bottom: 0;
        font-size: 12pt;
        padding-left: .2em;
        color: black;
    }
}
.resume-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
}

.resume-title {
    display: inline-block;
    margin: .5rem 0;
    font-family: $resume-font-family;
    font-size: 24pt;
    color: black;
}

.resume-description {
    font-family: $resume-font-family;
    display: inline-block;
    float: right;
    text-align: right;
    margin: 1rem 0;
}

.resume-content {
    // h3: title, h4: type, h5: desc
    h3,h4,h5,p,li {
        font-size: 10.5pt;
        font-family: $resume-font-family;
        a { color: black; }
    }

    h3 {
        font-weight: bold;
        color: $blue-1;
        letter-spacing: 0.5px;
        margin: 0;
        margin-bottom: .5em;
        padding-top: 20px;
        line-height: 1.5em;
        border-bottom: 1.5px solid $blue-1;
    }

    h4 {
        display: inline-block;
        margin-top: .5em;
        color: black;
        em {
            display: block;
            font-style: normal;
        }
    }
    
    h5 {
        display: inline-block;
        margin-top: .5em;
        float: right;
    }

    p {
        margin-bottom: .5rem;
    }

    ul {
        margin-bottom: .5rem;
    }
}

.resume-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}

.resume-link {
    display: block;
    font-size: 42px;
}
