.resume-header {
    font-family: $resume-font-family;
    color: black;
    margin-bottom: $space-2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-title {
    text-align: center;
    margin: 0;
    font-family: $resume-font-family;
    font-size: 24pt;
    font-weight: bold;
    color: black;
}

.resume-description {
    font-family: $resume-font-family;
    text-align: center;
    margin: 0;
}

.resume-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
}

.resume-content {
    .resume-item-title, #skillset {
        display: flex;
        justify-content: space-between;
        margin: 0.3em 0;
    }
    
    h3, h4, h5 {
        font-size: 10pt;
        color: black;
        margin: 0;
        font-weight: bold;
        font-family: $resume-font-family;
        font-size: 10pt;
        span { font-weight: normal; }
        a { color: black; }
    }

    #skillset {
        flex-direction: column;
        flex-flow: wrap;
        height: 2.5em;

        h4 {
            width: 50%;
        }
    }

    h3 { // Title
        color: $blue-1;
        padding-top: 5px;
    }
    
    p {
        margin-bottom: $space-1;
    }

    ul {
        margin-bottom: $space-1;
    }
}

.resume-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}

.resume-link {
    display: block;
    font-size: 42px;
}
